


.intercom {
    background-color: #103d82; /*couleur bleue de la banderole tout en haut*/
    padding: 0 50px; /*créer un espace entre le logo et le début de la banderole bleue*/
}

html {
    height: 100%;
}


body {
    /*width : 85%; */ /*créer les deux bandes blanches verticales de chaque côté de la page*/
    box-shadow: -2px 4px 42px -6px rgba(0, 0, 0, 0.53); /*créer des ombres autour du body*/
    position: relative; /**/

    margin-right: auto; /*servent à placer le body au milieu de la page*/
    margin-left: auto; /*voir commentaire du dessus*/
    margin-bottom: 0;
}

#logo-blanc{
    height: 7.5em; /*taille résonnable du logo*/

}

footer{
    position: absolute;
    bottom: 0;
    /*width: 85%;*/
    display: inline-block;
}

header {
    margin-top: -10px; /*colle la banderole bleue tout en haut de la page et supprime l'espace qui existait entre.*/
}

.googlemap {
    animation-name : ReverseBandesCouleur; /*remets des barres blanches horizontales autour de la maps du footer*/
    animation-duration: 1.25s;
    animation-fill-mode: forwards; /*fait en sorte que l'animation se prolonge (sans loop)*/
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.googlemap:hover {
    animation-duration: 1.25s;
    animation-fill-mode: forwards; /*fait en sorte que l'animation se prolonge (sans loop) tant que le hover est actif*/
    animation-name : BandesCouleur; /*mets des barres bleues horizontales autour de la maps du footer*/
}


@keyframes BandesCouleur { /*mets des barres bleues horizontales autour de la maps du footer*/
    from {background-color : white;}
    to {background-color : #103d82;}
} 


/*remets des barres blanches horizontales autour de la maps du footer*/
@keyframes ReverseBandesCouleur { 
    from {background-color : #103d82;}
    to {background-color : white;}
} 

/*restreint la largeur des div pour créer les bandes blanches*/
.SoumisBandesBlanches {
    width: 85%;
}


@media screen and (max-width: 1080px){
    .SoumisBandesBlanches { 
        width: 100%; /*supprime les bandes blanches*/
    }
}


.menu { 
    display: list-item inline;
}

.menu a {
    color : black;
    display: list-item inline;
}

.menu ul{
    /*
    display : flex;
    flex-direction: row; */
    list-style:none;   /*retire les puces des listes du menu*/
}


.content {
    padding-bottom: 400px; /*sert à crée un espace vide au dessus de la carte Maps*/
}