
.content *{
    z-index: 1;
}

.menu>ul>li>ul{
    z-index:2;
}

.menu>ul>li>ul>li>ul>li:hover>a, .menu>ul>li>ul>li:hover>a{
    font-weight: bold;
}



a {
    color : #103d82;
}

.intercom {
    background-color: #103d82; /*couleur bleue de la banderole tout en haut*/
    padding: 0 50px; /*créer un espace entre le logo et le début de la banderole bleue*/
}

html {
    height: 100%;
}


body {
    /*width : 85%; */ /*créer les deux bandes blanches verticales de chaque côté de la page*/
    box-shadow: -2px 4px 42px -6px rgba(0, 0, 0, 0.53); /*créer des ombres autour du body*/
    position: relative; /**/

    margin-right: auto; /*servent à placer le body au milieu de la page*/
    margin-left: auto; /*voir commentaire du dessus*/
    margin-bottom: 0;
}

#logo-blanc{
    height: 7.5em; /*taille résonnable du logo*/

}

footer{
    position: absolute;
    bottom: 0;
    /*width: 85%;*/
    display: inline-block;
}

header.banderole {
    margin-top: -10px; /*colle la banderole bleue tout en haut de la page et supprime l'espace qui existait entre.*/
}

.googlemap {
    animation-name : ReverseBandesCouleur; /*remets des barres blanches horizontales autour de la maps du footer*/
    animation-duration: 1.25s;
    animation-fill-mode: forwards; /*fait en sorte que l'animation se prolonge (sans loop)*/
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.googlemap:hover {
    animation-duration: 1.25s;
    animation-fill-mode: forwards; /*fait en sorte que l'animation se prolonge (sans loop) tant que le hover est actif*/
    animation-name : BandesCouleur; /*mets des barres bleues horizontales autour de la maps du footer*/
}


@keyframes BandesCouleur { /*mets des barres bleues horizontales autour de la maps du footer*/
    from {background-color : white;}
    to {background-color : #103d82;}
} 


/*remets des barres blanches horizontales autour de la maps du footer*/
@keyframes ReverseBandesCouleur { 
    from {background-color : #103d82;}
    to {background-color : white;}
} 

/*restreint la largeur des div pour créer les bandes blanches*/
.SoumisBandesBlanches {
    width: 85%;
}


@media screen and (max-width: 1080px){
    .SoumisBandesBlanches { 
        width: 100%; /*supprime les bandes blanches*/
    }
}


.menu a {
    color : black;
    font-family: 'Quicksand', sans-serif;
    text-decoration: center;
    padding: 5px 10px;
}



.menu>ul>li {
    position: relative;
    text-align: center;
    float : left;
    padding : 18px;
    box-sizing: border-box;
    
}


/* A REMETTRE APRES AVOIR REGLE LE PROBLEME DES SUB MENU QUI DISPARAISSENT*/
.menu>ul ul {
    padding-inline-start:  0px; /*retire*/
}

.menu li a{
    text-decoration: none;
}

.menu>ul>li>ul>li {
    display : none; /*fais disparaitre les sous menus*/
    
}  


.menu>ul>li>ul>li>ul {  /*Réduit les sous-sous menus*/
    animation-name: subMenuDisappear;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-fill-mode: forwards;
} 

.menu>ul>li:hover>ul {
    display:block;
    padding-bottom: 45px;
    width: 175%;
}

.menu>ul>li:hover>ul>li>ul>li {
    width:inherit;
}



.menu>ul>li>ul>li:hover>ul { /*gere l'animation d'apparition*/
    animation-name: subMenuAppear;
    animation-fill-mode: forwards;
    animation-duration: 0s;
}


.menu>ul>li:hover>ul>li{ /*anime l'apparition des sous menus*/
    display: block;
    opacity: 0;
    animation-name: opacity;
    animation-duration:  1s;
    animation-fill-mode: forwards;
    border-top: 15px solid transparent;
    text-align: center;
}

.menu>ul>li>ul>li>ul {
    width: auto;
}

.menu>ul>li>ul{
    background-clip: padding-box;
    background-color: white;
    
    border-radius: 10px 40px;
}

.menu>ul>li>ul {
    position: absolute;
}

.menu>ul>li>ul>li>ul>li {
    border-top: 15px solid white;
    font-size: 80%;
    text-align : center;
    width: 150%;
}

.menu>ul>li>ul>li:hover>ul>li   { /*anime l'apparition des sous-sous-menus*/
    /* display: block; */
    opacity: 0;
    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /*border-left: 15px solid white; */
}





.menu>ul>li>ul>li>ul>li {
    animation-name: opacityReverse;
    animation-duration: 1.s;
    animation-fill-mode: forwards;
    border : red;
}

.vie-scolaire:hover>a {
    color : #a20909
}

.eau:hover>a {
    color : #2596aa;
}

.menu>ul>li:hover>a{
    animation-name : fontBold;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.emploi:hover>a{
    color : #b87865;
}

.amenagement:hover>a{
    color: #5f72b2;
}

.tourisme:hover>a{
    color: #d5872e;
}

.environnement:hover>a{
    color: #2aa868;
}

.intercommu:hover>a {
    color : #103d82;
}

@keyframes opacity { /*mets des barres bleues horizontales autour de la maps du footer*/
    from {opacity: 0; }
    to {opacity:1;}
} 

@keyframes opacityReverse { /*mets des barres bleues horizontales autour de la maps du footer*/
    from {opacity: 1;}
    to {opacity:0;}
} 

.menu ul{
    list-style:none;   /*retire les puces des listes du menu*/
}

.menu>ul:hover li{
    text-align: center;
}

.content {
    padding-bottom: 4000px; /*sert à crée un espace vide au dessus de la carte Maps*/
}


.menu>ul>li>ul>li>a{
    text-align: center;
}


@keyframes subMenuDisappear {
    from{
        opacity: 1;
        width: unset;
        height: unset;
    }
    to {
        opacity: 0;
        width: 0%;
        height: 0;
        line-height:0;
    }
}

@keyframes subMenuAppear{
    from{
        opacity: 0;
        width: 0%;
        height: 0%;
    }
    to {
        opacity: 1;
        width: unset;
        height: unset;
    }
}




.menu>ul>li:hover>ul>.hightlight-line{
    display: block;
    border : 0;
    height:0px;
    animation-name: linegrow;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
}

@keyframes linegrow{
    from{height: 0px;}
    to {height: 20px;}
}


@keyframes fontBold{
    from{font-weight: unset;}
    to {font-weight: bold;}
}


/* La partie de ce code a été quasi intégralement repris de https://cssfx.dev/ avant d'être customisée */

.Overline {
    position: relative;
  }
  
.Overline::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    width: 100%;
    height: 2px;
    opacity: 0;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: all 0.3s ease-in-out;
}

li:hover>a>.Overline::before {
    transform: translate(-50%, 0) scaleX(1);
    opacity: 1;
}


/*******************************************************************************/

.vie-scolaire .Overline::before {
    background-color: #a20909;
}

.emploi .Overline::before {
    background-color: #c6431b;
}



.amenagement .Overline::before {
    background-color: #5f72b2;
}

.eau .Overline::before {
    background-color: #2596aa;
}

.vie-scolaire .Overline::before {
    background-color: #a20909;
}


.tourisme .Overline::before{
    background-color: #d5872e;
}

.environnement .Overline::before{
    background-color: #2aa868;
}

.intercommu .Overline::before{
    background-color : #103d82;
}















.menu>ul>li.vie-scolaire:hover>ul{
    border: 2px solid #a20909;
}

.menu>ul>li.emploi:hover>ul  {
    border: 2px solid #c6431b;
}



.menu>ul>li.amenagement:hover>ul  {
    border: 2px solid #5f72b2;
}

.menu>ul>li.eau:hover>ul  {
    border: 2px solid #2596aa;
}

.menu>ul>li.vie-scolaire:hover>ul  {
    border: 2px solid #a20909;
}


.menu>ul>li.tourisme:hover>ul {
    border: 2px solid #d5872e;
}

.menu>ul>li.environnement:hover>ul {
    border: 2px solid #2aa868;
}

.menu>ul>li.intercommu:hover>ul {
    border: 2px solid #103d82;
}


