
.content *{
    z-index: 1;
}

.content {
	float: left;
}

.content_main{
	float:right;
}

.contenu-gauche{
    padding:0px;
}

.generalContent{

}

a {
    color : #103d82;
}



.intercom {
    background-color: #103d82; /*couleur bleue de la banderole tout en haut*/
    padding: 0 50px; /*créer un espace entre le logo et le début de la banderole bleue*/
}

html {
    height: 100%;
}


body {
    /*width : 85%; */ /*créer les deux bandes blanches verticales de chaque côté de la page*/
    box-shadow: -2px 4px 42px -6px rgba(0, 0, 0, 0.53); /*créer des ombres autour du body*/
    position: relative; /**/

    margin-right: auto; /*servent à placer le body au milieu de la page*/
    margin-left: auto; /*voir commentaire du dessus*/
    margin-bottom: 0;
}

#logo-blanc{
    height: 7.5em; /*taille résonnable du logo*/

}

footer{
    position: relative;
    bottom: 0;
    /*width: 85%;*/
    display: inline-block;
}

header.banderole {
    margin-top: -10px; /*colle la banderole bleue tout en haut de la page et supprime l'espace qui existait entre.*/
}

.googlemap {
    animation-name : ReverseBandesCouleur; /*remets des barres blanches horizontales autour de la maps du footer*/
    animation-duration: 1.25s;
    animation-fill-mode: forwards; /*fait en sorte que l'animation se prolonge (sans loop)*/
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.googlemap:hover {
    animation-duration: 1.25s;
    animation-fill-mode: forwards; /*fait en sorte que l'animation se prolonge (sans loop) tant que le hover est actif*/
    animation-name : BandesCouleur; /*mets des barres bleues horizontales autour de la maps du footer*/
}


@keyframes BandesCouleur { /*mets des barres bleues horizontales autour de la maps du footer*/
    from {background-color : white;}
    to {background-color : #103d82;}
} 


/*remets des barres blanches horizontales autour de la maps du footer*/
@keyframes ReverseBandesCouleur { 
    from {background-color : #103d82;}
    to {background-color : white;}
} 

@media screen and (min-width:1816px) {
    .news-img-wrap img{
        width:900px;
        height:540px;
    }
}

.articletype-0 {
    margin-bottom: 70px;
}


.more {
    color: white;
    text-decoration: none;
    background-color: #103D82;
    padding: 10px;
    text-align: center;
    width: 30%;
    border-radius: 2px;
}


.more:hover, .ancre:hover {
    color: #103D82;
    text-decoration: none;
    background-color: white;
    border: 3px solid #103D82;
}

.centreAncre{
    padding: 30px;
}

.ancre{
    margin: 0 auto;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #103D82;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}


.contenu-gauche {
    margin-bottom: 70px;
}























.table .thead-dark th {
    color: #fff;
    background-color: #103d82;
    border-color: #454d55;
}


#content_main {
    padding-left: 45px;
    padding-right:30px;
    padding-top: 35px;
}







.carousel-control-next:hover, .carousel-control-prev:hover {
    animation-name: lightOpacityIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.carousel-control-next, .carousel-control-prev {
    animation-name : lightOpacityOut;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes lightOpacityIn {
    from {background-color: rgba(255, 255, 255, 0);}
    to {background-color: rgba(255, 255, 255, 0.50);}
}


/* CODE CSS DE L'ACCES RAPIDE */

/*DEBUT ACCES RAPIDE */
.card-body{
	overflow:hidden;
	padding-bottom:0rem;
	flex: 1 1 auto;
	padding: 1.25rem;
}


.icons > .column {
    max-width: 30%;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.icons a {
    text-decoration: none;
}

.card {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

div {
    display: block;
}

.col-md-3{
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card h3 {
    background-color: #103d82;
    border-color: #103d82;
}

.card-header:first-child {
    background-color: #103d82;
    color: white;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card h3 {
    /* text-align: center; */
    font-size: 1.1em;
    margin: 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 300px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content_main .content {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


/*Effet sur les images */ 
@media screen and (max-width: 1800px) {
.col-md-4 {
    flex: 0 0 25%;
    max-width: inherit;
}
}

@media screen and (max-width: 991px) and (min-width:775px) {
    .acces-rapide {
        flex: 0 0 25%;
        width: 700px;
    }
    .acces-rapide>*{
        width:700px;
    }
    
}

@media screen and (min-width:775px){
    .py-4>*{
        border-left: 1px solid #fff;
    }
    .premier{
        border-left: none;
    }
    .acces-rapide .column{
        margin-right: 20px;
    }
}

@media screen and (max-width:775px) {
    .acce-rapide {
        width: inherit;
    }
    #content_main {
        padding-left : 30px;
        padding-right: 30px;
    }

    .py-4 {
        display: flex;
        flex-direction: column;
        padding : 0px!important;
    }

    .py-4>*{
        border: 1px solid #fff;
        padding-top: 10px;
    }
}

@media (max-width: 991px) {
    .contenu-gauche{

    }
}


.column div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column a:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/*FIN ACCES RAPIDE*/

/*DEBUT CONTACT*/
.list-group-item active h3 {
    background-color: #103d82;
    border-color: #103d82;
}

.list-group-item active {
    z-index: 2;
    color: #fff;
	background-color: #007bff;
    border-color: #007bff;
}

h3 img {
    max-width: 40px;
    height: auto;
    padding-right: 20px;
    float: left;
}

.intercom .card h3 {
    background-color: #103d82;
    border-color: #103d82;
}

.list-group-item.active {
    background-color: #103d82;
    border-color: #103d82;
}
/*FIN CONTACT*/

/*DEBUT REVUE BIANNUELLE*/

.ce-uploads li {
    list-style: none outside none;
    margin: 1em 0;
}

a {
    color: inherit;
    text-decoration: underline;
}

.ce-uploads a {
    font-size: 0.9em;
}

.ce-uploads img {
	position:relative;
    padding-right: 0;
    margin-right: 0px;
}

/*FIN REVUE BIANNUELLE*/

/*DEBUT CHATEAU*/

div.csc-textpic .csc-textpic-imagewrap img {
    border: none;
    display: block;
	
}

.csc-textpic-center-inner{
	width:100%;
	height:100%;
}

.card-body {
    overflow: hidden;
    padding-bottom: 0rem;
    flex: 1 1 auto;
    padding: 1.25rem;
}

/*FIN CHATEAU*/
/* FIN DU CODE CSS DE L'ACCES RAPIDE */

@keyframes lightOpacityOut {
    from {background-color: rgba(255, 255, 255, 0.50);}
    to {background-color: rgba(255, 255, 255, 0);}
}




.navbar.navbar-7 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
}




.container-fluid {
    padding-right : 0px;
    padding-left: 0px;
}



h2>a {
    text-decoration: none;
    color: #103d82;
}

h2>a:hover {
    text-decoration:none;

}



.py-4 *{
    list-style:none;
    background-color :#103d82;
    text-decoration:none;
    text-align :center;

}

.py-4{
    padding-top: 30px;
    margin:0px;
    background-color: #103d82;

}

.py-4 ul a{
    line-height:50px;
    
}

.py-4 ul a:hover {
    color:white;
}

.bodytext {
    margin-top: 10px;
    font-size: 25px;
}

.acces-rapide .bodytext {
    font-size: 18px;
}

.my-1{
    font-size:30px;
}

.acces-rapide .my-1{
    font-size:23px;
}


.premier{
	list-style: none;