@-webkit-keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  @keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  
  .btnCarte {
    overflow: visible;
    margin: 0 ;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: rgba(255, 255, 255, 0.897);
    color: #103d82;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
  }
  .btnCarte.btn:-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .btnCarte.btn--stripe {
    overflow: hidden;
    position: relative;
  }
  .btnCarte.btn--stripe:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
  }
  .btnCarte.btn--stripe:hover {
    background-color: #103D82;
    color: white;
    border-color: white;
  }
  .btnCarte.btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
            animation: stripe-slide 12s infinite linear forwards;
  }
  .btnCarte.btn--large {
    width: 50%;
  }
  .btnCarte.btn--radius {
    border-radius: 36px;
  }
  

 #bandeBouttonCarte{
  background-color : #103d82;
  height : 4rem; 
  text-align: center;
} 

#bandeBouttonCarte a {
  display: block;
  margin : 0 auto;
  
}

.btnCarte {
  margin: 0 auto;
  font-weight: bold;
}