.menu>ul>li>ul>li>ul>li:hover>a, .menu>ul>li>ul>li:hover>a{
    font-weight: bold;
}

.menu>ul>li>ul>li>ul {  /*Réduit les sous-sous menus*/
    animation-name: subMenuDisappear;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-fill-mode: forwards;
} 

 
.menu>ul {
    z-index:2;
    margin-bottom: 10px;
}




.menu a {
    color : black;
    font-family: 'Quicksand', sans-serif;
    text-decoration: center;
    padding: 5px 10px;
}



.menu>ul>li {
    position: relative;
    text-align: center;
    float : left;
    padding : 18px;
    box-sizing: border-box;
    
}





    .menu>ul>li:hover>ul {
        display:block;
        padding-bottom: 45px;
        width: 175%;
    }

    .menu a {
        text-decoration: center;
    }
    
    .menu>ul>li:hover>ul>li>ul>li {
        width:inherit;
    }
    
    .menu>ul:hover li{
        text-align: center;
    }
    
    .menu>ul>li>ul>li>a{
        text-align: center;
    }
    
    .menu>ul>li>ul>li:hover>ul { /*gere l'animation d'apparition*/
        animation-name: subMenuAppear;
        animation-fill-mode: forwards;
        animation-duration: 0s;
    }
    
    
    .menu>ul>li:hover>ul>li{ /*anime l'apparition des sous menus*/
        display: block;
        opacity: 0;
        animation-name: opacity;
        animation-duration:  1s;
        animation-fill-mode: forwards;
        border-top: 15px solid transparent;
        text-align: center;
    }
    
    .menu>ul>li>ul>li:hover>ul>li   { /*anime l'apparition des sous-sous-menus*/
        /* display: block; */
        opacity: 0;
        animation-name: opacity;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        /*border-left: 15px solid white; */
    }
    
    
    .menu>ul>li:hover>ul>.hightlight-line{
        display: block;
        border : 0;
        height:0px;
        animation-name: linegrow;
        animation-duration:1.5s;
        animation-fill-mode: forwards;
    }

    .menu>ul>li>a{
        font-size: 18;
    }

    .menu>ul>li>ul>li>ul>li>a{
        font-size: 15;
    }

    .menu>ul:hover li{
        text-align: center;
    }
    
    .menu>ul>li>ul>li>a{
        text-align: center;
        font-size: 18;
    }
    .menu>ul>li>ul>li:hover>ul { /*gere l'animation d'apparition*/
        animation-name: subMenuAppear;
        animation-fill-mode: forwards;
        animation-duration: 0s;
    }

    .navbar{
        display : none;
    }







.menu>ul ul {
    padding-inline-start:  0px; /*retire*/
}

.menu li a{
    text-decoration: none;
}

.menu>ul>li>ul>li {
    display : none; /*fais disparaitre les sous menus*/
    
}  

@media only screen and (max-width: 1640px) {
    .menu>ul>li:hover>ul {
        width: 120%;

    }
}


@media only screen and (max-width: 1080px) {
    .menu>ul>li:hover>ul {
        width: 100%;

    }
}

@media screen and (min-width: 700px) {
    .menu>ul>li:hover>ul {
        padding-left : -25px;
        
        position : 2;
    }


    .logoBayeux {
        display:none;
    }
} 



/* CSS pour écran de largeur moyenne */

 @media screen and (max-width: 700px){
    /* Dézoomer */
    .zoom-out {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .zoom-out:hover {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }


    .menu>ul {
        /* border-right:  solid red; */
        
        padding-left: 40px;
        padding : 0px;
        width: 179px;
        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-border-top-right-radius: 25px;
        -webkit-border-bottom-right-radius: 25px;
        -moz-border-radius-topright: 25px;
        -moz-border-radius-bottomright: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    

    .menu>ul>li>a {
        font-size:14px;
    }


    .menu ul {
        display : flex;
        flex-direction: column;

    }
    .menu{
        background-color: #103d82;
        /* background-image: url("../../Ressources/img/logo-blanc.png") ; */
        border-bottom:  0px solid #103d82;
    }

    .logoBayeux {
        position: absolute;
        left : 255px;
        display: flex;
    }

    /* .menu>ul>li>ul:hover>li>ul>li , .menu>ul>li>ul:hover>li>ul>li { anime l'apparition des sous-sous-menus
        display: block; 
        opacity: 0;
        animation-name: opacity;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .menu>ul {
        width: 100%;
    }

    .menu>ul>li {
        text-align: start;
    }

    .menu>ul>li:hover>ul {
        border: 0px;
    } */

    .menu>ul>li.amenagement:hover>ul{
        padding-bottom : 90px;
        padding-top: 15px;
    }


    .menu>ul>li:hover>ul a{
        font-size : 14;
    }

    .menu>ul>li:hover>ul {
        margin-left: 75%;
        padding-right: 30px;
        top: -10px;
        width: 150%;
        left: 38px;
    }
}



.menu ul{
    list-style:none;   /*retire les puces des listes du menu*/
}


/* CSS pour smartphone */
@media only screen and (max-width: 600px) {
    .logoBayeux {
        left:170px;
    }
    



    ul.level3>li>a {
        font-size: 11px;
    }

    .menu>ul>li.amenagement:hover>ul>li>ul  a{
        font-size : 12;
    }
    
}


.banderole-cachee {
    display: none;
}

.menu>ul>li>ul>li>ul {
    width: auto;
}

.menu>ul>li>ul{
    background-clip: padding-box;
    background-color: white;
    z-index:3;
    border-radius: 10px 40px;
}

.menu>ul>li>ul {
    position: absolute;
}

.menu>ul>li>ul>li>ul>li {
    border-top: 15px solid white;
    font-size: 80%;
    text-align : center;
    width: 150%;
}



.menu>ul>li:hover>a{
    animation-name : fontBold;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}


.menu>ul>li>ul>li>ul>li {
    animation-name: opacityReverse;
    animation-duration: 1.s;
    animation-fill-mode: forwards;
    border : red;
}



.menu>ul>li:hover>ul>.hightlight-line{
    display: block;
    border : 0;
    height:0px;
    animation-name: linegrow;
    animation-duration:0.3;
    animation-fill-mode: forwards;
}





@keyframes subMenuDisappear {
    from{
        opacity: 1;
        width: unset;
        height: unset;
    }
    to {
        opacity: 0;
        width: 0%;
        height: 0;
        line-height:0;
    }
}

@keyframes subMenuAppear{
    from{
        opacity: 0;
        width: 0%;
        height: 0%;
    }
    to {
        opacity: 1;
        width: unset;
        height: unset;
    }
}



.menu>ul>li.vie-scolaire:hover>ul{
    border: 2px solid #a20909;
}

.menu>ul>li.emploi:hover>ul  {
    border: 2px solid #c6431b;
}



.menu>ul>li.amenagement:hover>ul  {
    border: 2px solid #5f72b2;
}

.menu>ul>li.eau:hover>ul  {
    border: 2px solid #2596aa;
}

.menu>ul>li.vie-scolaire:hover>ul  {
    border: 2px solid #a20909;
}


.menu>ul>li.tourisme:hover>ul {
    border: 2px solid #d5872e;
}

.menu>ul>li.environnement:hover>ul {
    border: 2px solid #2aa868;
}

.menu>ul>li.intercommu:hover>ul {
    border: 2px solid #103d82;
}

.menu-cache{
    display:none;
}


.espace-btn-minMenu {
    background-color: #103d82;
    height: 4rem;
    text-align: center;
    border-top: 1rem solid #103d82;
    border-bottom: 1rem solid #103d82;
}

@media only screen and (min-width: 700px) {
    .minMenu {
        display: none;
    }
    .espace-btn-minMenu {
        display: none;
    }
}


@media only screen and (max-width: 700px) {
    .minMenu {
        display: inline-block;
    }
    .espace-btn-minMenu {
        display : block;
    }
}

.minMenu {
    background-color:#103d82;
    color : rgb(255, 255, 255);
    border: 2px solid white;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width : 150px;
}


.minMenu:hover {
    color : #103d82;
    background-color : white;

}


@keyframes linegrow{
    from{height: 0px;}
    to {height: 20px;}
}


@keyframes fontBold{
    from{font-weight: unset;}
    to {font-weight: bold;}
}



.menu>ul>li.vie-scolaire>ul>li:hover>a {
    color : #a20909
}

.menu>ul>li.eau>ul>li:hover>a {
    color : #2596aa;
}


.menu>ul>li.emploi>ul>li:hover>a{
    color : #b87865;
}

.menu>ul>li.amenagement>ul>li:hover>a{
    color: #5f72b2;
}

.menu>ul>li.tourisme>ul>li:hover>a{
    color: #d5872e;
}

.menu>ul>li.environnement>ul>li:hover>a{
    color: #2aa868;
}

.menu>ul>li.intercommu>ul>li:hover>a {
    color : #103d82;
}
